
 <head>

    <title>About Us</title>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Official Site of OutSourceNG"/>

    <meta name="title" content="OutsourceNG About Us"/>

    <meta name="subject" content="OutsourceNG, Freelancers, Work, Hire, Tasks, Jobs, About Us, About OutsourceNG, What is OutsourceNG?"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" href="styles/styles.css">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arvo|Josefin+Slab|Ubuntu">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

  </head>

  <body>

    <div class="jumbotron text-center outsourceng-blue-grad">

      <div class="menu_pane">

        <a href="\" title="OutsourceNG">OutsourceNG</a>

        <nav>

          <ul class="menu">

            <li><a title="Back to Home Page" class="menu_element" href="\">Home</a></li>

            <li><a title="Join The Community" class="menu_element" href="\register">Sign Up</a></li>

            <li><a title="Login" class="menu_element" href="\login">Login</a></li>

          </ul>

        </nav>

      </div>

      <h1>About Us</h1>

      <p>What is OutsourceNG?</p>

    </div>  

    <div class="container" id="about_main">

      <article id="about_info">

        <section id="outsourceng_overview">

          <header>Overview</header>

          <p>OutsourceNG is a Nigerian-based website that allows individuals to hire services as employers, or offer services as freelancers.</p>

          <p>Want to hire? <a href="join-the-community.html"><u>Sign up as an Employer</u></a>. Employers are able to post tasks on the site, and get bids from potential freelancers whose skills apply to these tasks. Want to work? <a href="join-the-community.html"><u>Sign up as a Freelancer</u></a>. Freelancers are able to look out for new tasks posted by potential employers, and make bids to these employers.</p>

        </section>

        <section id="outsourceng_history">

          <header>Our History</header>

          <p>OutsourceNG was founded by <a href="#"><u>DRAM Technologies</u></a> in 2017, as a student project at the American University of Nigeria.</p>

        </section>

        <section id="outsourceng_mission">

          <header>Our Mission</header>

          <p>OutsourceNG exists to curb unemployment in an age of mass digital access.</p>

        </section>

        <section id="outsourceng_vision">

          <header>Our Vision</header>

          <p>OutsourceNG aims to be the leading job creation platform in Africa.</p>

        </section>

        <section id="outsourceng_work">

          <header>Work</header>

          <p>To get work on OutsourceNG, users sign up as freelancers. Freelancers are able to specify their skills and a price range for their services. They get notifications about tasks which have been posted by employers on the site, and are able to make bids to these employers.</p>

          <p>When the freelancer's bid is accepted, they and the employer enter into a contract, and are able to communicate with each other over OutsourceNG.</p>

        </section>

        <section id="outsourceng_hiring">

          <header>Hiring</header>

          <p>To hire on OutsourceNG, users sign up as employers. Employers are able to post tasks on OutsourceNG, specifying the sort of jobs they want done, and how much they're willing to pay for them. They are notified about bids made to them by freelancers whose skills are just what they're looking for.</p>

          <p>When the employer accepts a bid, they enter into a contract with the freelancer, and are able to communicate with them over OutsourceNG.</p>

        </section>

        <section id="outsourceng_payments">

          <header>Payments</header>

          <p>Payments for services are made over OutsourceNG, with OutsourceNG receiving a neglgible percentage of the fees. As the primary objective of OutsourceNG is to improve on the employment problem in Nigeria, the site receives only the barest minimum necessary to run itself.</p>

        </section>

        <a href="#about_info" id="to_top"><u>Back to Top</u></a>

      </article>

    </div>

    <footer class="row outsourceng-blue-grad">

      <p class="copyright">&copy; 2017 DRAM Technologies. All rights reserved.</p>

      <span class="social_media_links row">

        <a href="#" class="fa fa-facebook-official fa-3x media_icon" title="We've Got Facebook"></a>

        <a href="#" class="fa fa-instagram fa-3x media_icon" title="We've Got Instagram"></a>

        <a href="#" class="fa fa-twitter fa-3x media_icon" title="We've Got Twitter"></a>

      </span>

      <nav>

        <ul>

          <li><a class="menu_element" href="contact-us.html" title="Get in Touch">Contact Us</a></li>

        </ul>

      </nav>

      <p class="credits">Powered by <a title="Visit Site" href="http://getbootstrap.com/">Bootstrap</a> and <a title="Visit Site" href="https://www.w3schools.com/w3css/default.asp">W3.CSS</a></p>

      <p class="credits">Icons by <a title="Visit Site" href="http://glyphicons.com/">Glyphicons</a> and <a title="Visit Site" href="http://fontawesome.io/">Font Awesome</a></p>

    </footer>

  </body>