<% include partials/header%>
 <head>
 <title>Welcome to OutsourceNG</title>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Official Site of OutSourceNG"/>

    <meta name="title" content="OutsourceNG Home Page"/>

    <meta name="subject" content="OutsourceNG, Freelancers, Work, Hire, Tasks, Jobs, Register, Login"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" href="styles/styles.css">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arvo|Josefin+Slab|Ubuntu">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

  </head>
    <div class="jumbotron text-center outsourceng-blue-grad">

      <h1>Welcome to OutsourceNG</h1>

      <p>Be Empowered</p>

    </div>  

    <div class="container" id="welcome_main">

      <a href="\register"><button class="outsourceng-button" title="Join the Community" id="get_started">Get Started</button></a>

      <div class="row" id="welcome_info">

        <a title="Learn More" href="\about">

          <article class="col-lg-6">

            <header>Work</header>

            <section>

              Post your skills and expertise. Make bids to potential employers. Get hired. Boost your ratings.

            </section>

            <div class="thumbnail home_img">

              <img src="/styles/worker.png">

            

            </div>

          </article>

        </a>

        <a title="Learn More" href="\about#outsourceng_hiring">

          <article class="col-lg-6">

            <header>Hire</header>

            <section>

              Post a project. Get feedback from a variety of freelancers with the skills you need. Choose the freelancer that suits you. Get your job done.

            </section>

            <div class="thumbnail home_img">

              <img src="styles/hire.jpg">


            </div>

          </article>

        </a>

      </div>

      
    </div>

    <footer class="row outsourceng-blue-grad">

      <p class="copyright">&copy; 2017 DRAM Technologies. All rights reserved.</p>

      <span class="social_media_links row">

        <a href="#" class="fa fa-facebook-official fa-3x media_icon" title="We've Got Facebook"></a>

        <a href="#" class="fa fa-instagram fa-3x media_icon" title="We've Got Instagram"></a>

        <a href="#" class="fa fa-twitter fa-3x media_icon" title="We've Got Twitter"></a>

      </span>

      <nav>

        <ul>

          <li><a class="menu_element" href="\about" title="Learn About OutsourceNG">About Us</a></li>

          <li><a class="menu_element" href="\contact" title="Get in Touch">Contact Us</a></li>

        </ul>

      </nav>

      <p class="credits">Powered by <a title="Visit Site" href="http://getbootstrap.com/">Bootstrap</a> and <a title="Visit Site" href="https://www.w3schools.com/w3css/default.asp">W3.CSS</a></p>

      <p class="credits">Icons by <a title="Visit Site" href="http://glyphicons.com/">Glyphicons</a> and <a title="Visit Site" href="http://fontawesome.io/">Font Awesome</a></p>

    </footer>




© 2017 GitHub, Inc.
Terms
Privacy
Security
Status
Help